.container {
    display: flex;
}
  
.main {
    min-height: 100vh;
    padding-block: var(--size-8);
    padding-inline: var(--size-7);
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}