.mainNavigation {
    display: flex;
    flex-direction: column;
    max-width: var(--size-13);
    background-color: #ffffff;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    min-height: 100vh;
    flex: 1 0 auto;
}

.itemList {
    padding: 0;
}