.modal {
    min-width: 40%;
    max-width: 70%;
    padding: var(--size-3);
    background-color: #ffffff;
    box-shadow: var(--shadow-2);
    border-radius: var(--radius-1);
}

.modalBackdrop {
    position: fixed;
    z-index: -1;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.45);
}

.modalContainer {
    position: fixed;
    inset: 0;
    z-index: var(--layer-5);
    display: flex;
    justify-content: center;
    align-items: center;
}