@import "https://unpkg.com/open-props";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
  }
  body {
    color: #000000;
    background: #ffffff;
  }
}

ul {
  list-style: none;
}

input, select {
  font-size: var(--font-size-1);
  padding: var(--size-1);
  margin-top: var(--size-1);
}

table {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0px;
  min-width: 100%;
}

table > thead > tr {
  background-color: #dfdfdf;
}

table > thead > tr > th {
  text-align: left;
}

table > thead > tr > th,
table > tbody > tr > td {
  padding: var(--size-2);
}

table > tbody > tr {
  padding: 0;
  margin: 0;
  display: table-row;
}

table > tbody > tr > td {
  border-top: 1px solid #dcdcdc;
}